body {
  font-family: 'Sorts Mill Goudy', serif;
  background-color: rgba(226, 226, 216, 0.64);
}

h2 {
  font-family: 'Bangers', cursive;
  font-size: 2.5em;
  text-align: center;
}

button {
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 7px;
  font-family: 'Sorts Mill Goudy', serif;
  background-color: rgba(253, 39, 67, 0.928);
}

select {
  font-size: 1.4em;
  border-radius: 7px;
  font-family: 'Sorts Mill Goudy', serif;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgba(0, 255, 255, 0.852);
  font-weight: 500;
}

main {
}

a {
  text-decoration: none;
}