.list-display {
  border-style: solid;
  border-color: rgba(38, 39, 39, 0.868);
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80vw;
  height: 75vh;
  margin-top: 2em;
  overflow-x: auto;
  padding: 1em;
  border-radius: 14px;
  background-color: rgba(3, 3, 3, 0.722);
  margin-bottom: 2em;
}