.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-detail-section {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80vw;
  height: 100%;
  margin-top: 2em;
  overflow-x: auto;
  padding: 2em;
  background-color: rgba(43, 43, 43, 0.477);
  border-radius: 12px;
}

/* @media screen and (min-width: 1200px){
  .article-detail-section {
    flex-direction: row;
  }
} */

.text-area {
display: flex;
flex-direction: column;
}

.image-area {
  display: flex;
  flex-direction: column;  
  margin-top: 2em;
}

.article-img {
  width: 80%;
  max-width: 40em;
  border-radius: 7px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.586);
  margin-bottom: 1em;
}

.s-title {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  margin-top: .3em;
  margin-bottom: .1em;
  text-align: left;
  color: rgba(253, 39, 67, 0.992);
  text-shadow: 3px 2px 1px #06060673;

}

.s-abstract {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.6em;
  text-align: justify;
  margin-top: .2em;
  margin-bottom: 2em;
  color: black;
}

p {
  font-size: 1.4em;
  margin-bottom: .1em;
  margin-top: .1em;
}

.s-caption {
  font-size: 1.2em;
  font-style: italic;
}

.s-link {
  text-decoration: underline;
  font-size: 1.5em;
  margin-top: 1em;  
  color: aqua;
  text-shadow: 2px 2px 3px #06060671;
}

@media screen and (max-width: 700px){
  .s-title {
    font-size: 2em;
  }

  .s-abstract {
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
  }

  .s-caption {
    font-size: 1em;
  }
}